{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block content %}
{% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">{{ page_title }}</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in page_obj %}
            <li class="shopping-list__item" data-id="{{ recipe_id }}">
                <div class="recipe recipe_reverse">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.description }}" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ recipe.name }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span>{{ recipe.cooking_time }} мин.</p>
                </div>
                <a href="{% url 'cart_remove' recipe.id %}" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'purchases_download' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>

    {% if page_obj.has_other_pages %}
        {% include 'recipes/includes/paginator.html' with items=page_obj paginator=paginator %}
    {% endif %}

{% endblock %}
{% block static_js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
{% endblock %}
